<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Banco Seguro - Laboratório Web</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <header class="header">
    <div class="header-container">
      <a href="/" class="logo">Banco Seguro</a>
      
      <nav class="header-nav">
        {% if 'usuario' in session %}
        <a href="/admin">Painel</a>
        <a href="/logout" class="btn-logout">Sair</a>
        {% endif %}
      </nav>
    </div>
  </header>
  
  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>